<div id="iframe-height" class="w-full" style="height:700px">
    <iframe
        scrolling="no"
        class="gallery-thumbnail rounded-2xl w-full"
        width="100%"
        src="https://campus.hellorubric.com/search?type=events&societyid=15344&iframe=true&showall=true&borderRadius=rounded&bodyFontFamily=Roboto&headingFontFamily=Roboto"
        frameborder="0"
        style="position: relative; height: 100%; border: none; overflow-y: hidden;"
        allowfullscreen>
    </iframe>
</div>

<script type="text/javascript" src="{{ (resources.Get "js/rubric_iframe.js").RelPermalink }}"></script>